  <h1> Insegnamenti presenti nel curriculum:</h1>
  <% if @curriculum.teachings.empty? %>
    <p>Nessun insegnamento presente.</p>
  <% else %>
    <p/>
    <table class="list_table">
      <tr>
        <th>Nome</th>
        <th>Opzioni</th>
      </tr>
      <% @curriculum.teachings.each do |t|  %>
        <tr>
          <td>
           <%= show_teaching(t) %>
          </td>
          <td>
           <%= link_to image_tag("/images/delete.png"), update_teachings_curriculum_path(@curriculum,:t_to_remove => t.id),
               :method => :delete, :title => "Rimuovi l'insegnamento dal curriculum" %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <p/>
  <% if @teachings.size != 0 %>
  <% form_for @curriculum, :url => update_teachings_curriculum_path(@curriculum), :method => :put do %>
  <h3>Aggiungi insegnamento:</h3><p/>
    <%= select_tag "teaching_id", options_from_collection_for_select(@teachings, "id", "name") %><br/>
    Opzionale: <%= check_box_tag "isOptional"%>
    <p>
    <%= submit_tag "Aggiungi" %>
    </p>
    <% end %>
  <% end %>
  <p><%= link_to "Indietro", :back %></p>