<h1>Nuovo curriculum</h1>

<% remote_form_for(@curriculum) do |f| %>
  <fieldset>
  <legend>Curriculum:</legend>
  <p>
    <%= f.label 'Nome: *' %><br />
    <%= f.text_field :name %>
    <span class="warning" id="errors_name"><%=  @curriculum.errors.on(:name) %></span>
  </p>
  <p>
    <%= f.label 'Corso di laurea associato: *' %><br />
     <%= select_tag "curriculum[graduate_course_id]" , options_from_collection_for_select(@graduate_courses, "id", "name") %>
     <span id="errors_graduate_course"class="warning"><%=  @curriculum.errors.on(:graduate_course_id) %></span>
  </p>
   <p>* campi obbligatori</p>
   </fieldset>
  <p>
    <%= f.submit "Crea" %>
  </p>
<% end %>
<p><%= link_to "Indietro", :back %></p>