<!-- ptTimeSelect files below -->
<%= stylesheet_link_tag 'jquery.ptTimeSelect.css' %>
<%= javascript_include_tag 'jquery.ptTimeSelect.js' %>
<script type="text/javascript">
  $(function(){
    $('#start_hour').ptTimeSelect({hoursLabel: "Ore", minutesLabel: "Minuti", setButtonLabel: "Seleziona", onFocusDisplay: false, popupImage: "<IMG SRC='/stylesheets/images/ptTimeSelect_clock.png'"});
    $('#end_hour').ptTimeSelect({hoursLabel: "Ore", minutesLabel: "Minuti", setButtonLabel: "Seleziona", onFocusDisplay: false, popupImage: "<IMG SRC='/stylesheets/images/ptTimeSelect_clock.png'"});
});
</script>


<h3>Modifica dei vincoli di non disponibilità per l'aula "<%=h @classroom.name %>"</h3>
<hr>

<% if @constraints.size == 0 %>
  <span id="message">Non sono ancora stati impostati vincoli per quest'aula.</span>
  <table id="manageable_constraints" style="display:none">
    <tr>
      <th>Giorno</th>
      <th>Ora inizio</th>
      <th>Ora fine</th>
    </tr>
  </table>
<% else %>
  <span id="message">L'aula è stata dichiarata non disponibile nei seguenti periodi:</span>

<table id="manageable_constraints">
  <tr>
    <th>Giorno</th>
    <th>Ora inizio</th>
    <th>Ora fine</th>
  </tr>
<% @constraints.each do |constraint| %>
  <tr id='<%= constraint.id %>'>
    <td><%= from_id_to_dayname(constraint.day) %></td>
    <td><%=h constraint.startHour.to_s(:time) %></td>
    <td><%=h constraint.endHour.to_s(:time) %></td>
    <td><% form_remote_tag :url => destroy_constraint_classroom_path(@classroom,:constraint_id => constraint.id) do %>
        <%= submit_tag "Rimuovi" %>
    <% end %></td>
  </tr>
<% end %>
</table>
<% end %>
<span id="errors_destroy" class="warning"></span>

<hr>
Per inserire un nuovo vincolo:
<ul>
  <li>inserire il giorno della settimana in cui l'aula è <strong>indisponibile</strong></li>
  <li>inserire l'ora di inizio e fine nel formato HH:MM, oppure cliccare sull'orologio per un inserimento grafico</li>
</ul>
<% form_remote_tag(:url => create_constraint_classroom_path(@classroom), :html => {:id => "form_classEditConstr"}) do %>
  <p>
    <div class="lbl_classEditConstr"><%= label_tag "selected_day", "Giorno interessato:" %></div>
    <div class="txt_classEditConstr"><%= select_tag "selected_day", "<option>Lunedi</option><option>Martedi</option><option>Mercoledi</option><option>Giovedi</option><option>Venerdi</option>" %> <br></div>
  </p>
  <p>
    <div class="lbl_classEditConstr"><%= label_tag "start_hour", "Ora di inizio vincolo:" %></div>
    <div class="txt_classEditConstr"><%= text_field_tag "start_hour", nil, :maxlength => 5, :size => 10 %></div>
    <span id="errors_start" class="warning"><% if (@constraint) %> <%=@constraint.errors.on(:startHour)%><% end %></span>
  </p>
  <p>
    <div class="lbl_classEditConstr"><%= label_tag "end_hour", "Ora di fine vincolo:" %></div>
    <div class="txt_classEditConstr"><%= text_field_tag "end_hour", nil, :maxlength => 5, :size => 10 %></div>
    <span id="errors_end" class="warning"><% if (@constraint) %> <%=@constraint.errors.on(:endHour)%><% end %></span>
    <span id="errors_others" class="warning"><% if (@constraint) %> <%=@constraint.errors.on([:starHour,:endHour])%><% end %></span>
  </p>
  <p id="submit_classEditConstr"><%= submit_tag "Aggiungi vincolo" %></p>
<% end %>
  
<%= link_to 'Indietro', :action => 'administration' %>
