Pagina di show e edit dei vincoli di non disponibilità per l'aula "<%=h @classroom.name %>"
<hr>

L'aula è stata dichiarata non disponibile nei seguenti periodi:
<table>
  <tr>
    <th>Giorno</th>
    <th>Ora inizio</th>
    <th>Ora fine</th>
  </tr>
<% for constraint in @constraints %>
  <tr>
    <td> <%= from_id_to_dayname(constraint.day) %></td>
    <td><%=h constraint.startHour.to_s(:time) %></td>
    <td><%=h constraint.endHour.to_s(:time) %></td>
    <td><% form_tag(:action => :destroy_constraint) do %>
      <%= hidden_field_tag 'constraint_id', constraint.id %>
      <%= submit_tag "Elimina" %>
    <% end %></td>
  </tr>
<% end %>
</table>
<hr>
<br><br>
Nuovo vincolo di indisponibilità dell'aula:
inserire il giorno della settimana, l'ora di inizio e l'ora di fine
<br><br>
<% form_tag(:action => :create_constraint) do %>
  <%= select_tag "selected_day", "<option>Lunedi</option><option>Martedi</option><option>Mercoledi</option><option>Giovedi</option><option>Venerdi</option>" %>
  <%= text_field_tag "start_hour", nil, :maxlength => 5, :size => 10 %>
  <%= text_field_tag "end_hour", nil, :maxlength => 5, :size => 10 %>
  <%= submit_tag "Inserisci il nuovo vincolo" %>
<% end %>
<br><br>
Inserire il giorno della settimana e l'ora di inizio e fine nel formato xy:zw
<br><br>
TODO: [invece di giorno della settimana in numero metterlo in parola;] ajax per scegliere l'ora di inizio e di fine
<br><br>
<%= link_to 'Back', :action => 'administration' %>
