 <script type="text/javascript">
   $(document).ready(function(){
     <% if  @graduate_courses_non_associati.size == 0 %>
         $('#add_form').toggle();
       <% end %>
     <% if  @graduate_courses_associati.size == 0 %>
         $('#remove_form').toggle();
       <% end %>
     })
       </script>
  
 <h1>Aggiornamento dei dati dell'aula <%= @classroom.name %></h1>
<% remote_form_for(@classroom) do |f| %>
 <fieldset>
   <legend>Aula:</legend>
 <p>
    <%= f.label 'Nome: *' %><br />
    <%= f.text_field :name %>
    <span id="errors_name" class="warning"> <%=  @classroom.errors.on(:name) %></span>
  </p>
  <p>
    <%= f.label 'Capacità:' %><br />
    <%= f.text_field :capacity %>
    <span id="errors_capacity"> <%=  @classroom.errors.on(:capacity) %></span>
  </p>
  <p>
     <%= f.label "Edificio: *" %><br />
     <%= select_tag "classroom[building_id]" , options_from_collection_for_select(@buildings, "id", "name", @classroom.building_id) %>
     <span class="warning "id="errors_building"> <%=  @classroom.errors.on(:building_id) %></span>
  </p>
   <p>* campi obbligatori</p>
  </fieldset>
  <p>
    <%= f.submit "Salva modifiche" %>
  </p>
<% end %>

 <% if @graduate_courses_associati.size == 0 %>
  <h4 id="message">L'aula non è a disposizione di nessun corso di laurea.</h4>
  <% else %>
 <h4 id="message">Quest'aula è a disposizione dei seguenti corsi di laurea:</h4>
 <% end %>
 
  <table id="graduate_courses" >
    <% for graduate_course in @graduate_courses_associati %>
      <tr id="<%=graduate_course.id%>">
        <td class="list_table_first_item">
          <%= graduate_course.name %>
        </td>
        <td>
          <% form_remote_tag :url => {:controller => 'classrooms', :action => 'remove_classroom_graduate_course'}do %>
            <%= hidden_field_tag "graduate_course_canc", graduate_course.id %>
            <%= image_submit_tag '/images/togli.gif', :title => "Rimuovi il corso di laurea dalla lista" %>
          <% end %>
        </td>
      </tr>
     <% end %>
  </table>

  <p>
    <h4>Corsi di laurea non associati all'aula:</h4>
    <% if @graduate_courses_non_associati.size == 0 %>
      <p id="graduate_courses_non_associati_message">Non ci sono corsi aggiungibili.</p>
    <% end %>
    <table id="graduate_courses_aggiungibili">
      <% @graduate_courses_non_associati.each do |gcna| %>
        <tr id="<%= gcna.id %>_remove">
          <td class="list_table_first_item"><%= gcna.name %></td>
          <td>
            <% form_remote_tag :url => {:controller => 'classrooms', :action => 'add_classroom_graduate_course'}do %>
              <%= hidden_field_tag "graduate_course_add", gcna.id %>
              <%= image_submit_tag '/images/aggiungi.gif', :title => "Aggiungi il corso di laurea alla lista", :class => "plus_less" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </p>
  <p><%= link_to "Indietro", :back %></p>