<h1>Editing classroom</h1>

<% form_for(@classroom) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :capacity %><br />
    <%= f.text_field :capacity %>
  </p>
  <p>
    <%= f.label :building_id %><br />
    <%= f.text_field :building_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @classroom %> |
<%= link_to 'Back', classrooms_path %>
