<!-- ptTimeSelect files below -->
<%= stylesheet_link_tag 'jquery.ptTimeSelect.css' %>
<%= javascript_include_tag 'jquery.ptTimeSelect.js' %>
<script type="text/javascript">
  $(function(){
    $('#start_hour').ptTimeSelect({hoursLabel: "Ore", minutesLabel: "Minuti", setButtonLabel: "Seleziona", onFocusDisplay: false, popupImage: "<IMG SRC='/stylesheets/images/ptTimeSelect_clock.png'"});
    $('#end_hour').ptTimeSelect({hoursLabel: "Ore", minutesLabel: "Minuti", setButtonLabel: "Seleziona", onFocusDisplay: false, popupImage: "<IMG SRC='/stylesheets/images/ptTimeSelect_clock.png'"});
});
</script>


Pagina di show e edit dei vincoli di non disponibilità per l'aula "<%=h @classroom.name %>"
<hr>
  <br>
L'aula è stata dichiarata non disponibile nei seguenti periodi:
<br><br>
<table id="manageable_constraints">
  <tr>
    <th>Giorno</th>
    <th>Ora inizio</th>
    <th>Ora fine</th>
  </tr>
<% @constraints.each do |constraint| %>
  <tr id='<%= constraint.id %>'>
    <td> <%= from_id_to_dayname(constraint.day) %></td>
    <td><%=h constraint.startHour.to_s(:time) %></td>
    <td><%=h constraint.endHour.to_s(:time) %></td>
    <td><% form_remote_tag :url => destroy_constraint_classroom_path(@classroom,:constraint_id => constraint.id) do %>
        <%= submit_tag "Rimuovi" %>
    <% end %></td>
  </tr>
<% end %>
</table>
<div id="destroy_error" ></div>
<hr>
<br>
Nuovo vincolo di indisponibilità dell'aula:
inserire il giorno della settimana, l'ora di inizio e l'ora di fine
<br>
 - Inserire il giorno della settimana <br>
 - Inserire l'ora di inizio e fine nel formato HH:MM
<br><br>
<% form_remote_tag :url => create_constraint_classroom_path(@classroom) do %>
    <%= label_tag "selected_day", "Giorno interessato" %>
    <%= select_tag "selected_day", "<option>Lunedi</option><option>Martedi</option><option>Mercoledi</option><option>Giovedi</option><option>Venerdi</option>" %> <br>
    <%= label_tag "start_hour", "Ora di inizio vincolo" %> 
    <%= text_field_tag "start_hour", nil, :maxlength => 5, :size => 10 %> <br>
    <%= label_tag "end_hour", "Ora di fine vincolo" %>
    <%= text_field_tag "end_hour", nil, :maxlength => 5, :size => 10 %> <br>
    <br />
    <%= submit_tag "Aggiungi vincolo" %>
<% end %>
<div id="create_error" ></div>
<br><br>
  
<%= link_to 'Back', :action => 'administration' %>
