<h1>Nuova aula</h1>

<% remote_form_for(@classroom) do |f| %>
  <fieldset>
  <legend>Aula:</legend>
  <p>
    <%= f.label "Nome: *" %><br />
    <%= f.text_field :name %>
    <span class="warning "id="errors_name"> <%=  @classroom.errors.on(:name) %></span>
  </p>
  <p>
    <%= f.label "Capacità:" %><br />
    <%= f.text_field :capacity,:size=>4 %>
    <span class="warning "id="errors_capacity"> <%=  @classroom.errors.on(:capacity) %></span>
  </p>
  <p>
    Laboratorio:<br />
    <%= check_box_tag "lab" %>
  </p>
  <p>
    <%= f.label "Edificio: *" %><br />
    <%= select_tag "classroom[building_id]" , options_from_collection_for_select(@buildings, "id", "name") %>
    <span class="warning "id="errors_building"> <%=  @classroom.errors.on(:building_id) %></span>
  </p>
   <p>* campi obbligatori</p>
  </fieldset>
  <p>
    <%= f.submit "Crea" %>
  </p>
<% end %>
<p><%= link_to "Indietro", :back %></p>