<h1>Nuova aula</h1>

<% form_for(@classroom) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :capacity %><br />
    <%= f.text_field :capacity %>
  </p>
  <p>
    Edificio
    <%= select_tag "classroom[building_id]" , options_from_collection_for_select(@buildings, "id", "name") %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
<br>
N.B. l'aula viene assegnata automaticamente a tutti i graduate course
<br>
<%= link_to 'Back', :action => 'administration' %>
