<h1>New classroom</h1>

<% form_for(@classroom) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :capacity %><br />
    <%= f.text_field :capacity %>
  </p>
  <p>
    <%= f.label :building_id %><br />
    <%= f.text_field :building_id %>

  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
<br><br>
Come building_id scegliere un id valido, altrimenti poi si pianta. Si farà un menu a tendina o un campo testo con autocompletamento per la scelta del building
<%= link_to 'Back', classrooms_path %>
