<p>
  <b>Nome:</b>
  <%=h @classroom.name %>
</p>
<p>
  <b>Capacità:</b>
  <%=h @classroom.capacity %>
</p>
<p>
  <b>Si trova nell'edificio:</b>
  
  <%= link_to @building.name, building_path(@building) %>
</p>
<br><br>
Quest'aula è a disposizione dei seguenti corsi di laurea:
<br>
<% for graduate_course in @graduate_courses_associati %>
  <br>
  <tr>
    <td><%=h graduate_course.name %></td>
  </tr>
<% end %>
<br><br>
<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', :action => 'administration' %>
