<p>
  <b>name:</b>
  <%=h @classroom.name %>
</p>
<p>
  <b>capacity:</b>
  <%=h @classroom.capacity %>
</p>
<p>
  <b>Nome building:</b>
  <%=h @building.name %>
</p>
<br><br>
Viene mostrato il nome del building associato (si potrebbe mostrare anche l'indirizzo volendo....)
<br><br>
<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', :action => 'administration' %>
