<h1>Amministrazione tabelle orarie</h1>
<% @timetables.each do |graduate_course, years| %>
  <div class="first_div">
    <h3><%= graduate_course.name %></h3>
    <% years.each do |year, periods| %>
      <%= year %>
      <table>
        <% periods.each do |period, timetables| %>
          <tr>
            <td><%= period %></td>
            <% if timetables %>
              <% in_generazione = false %>
              <% public = false %>
              <% timetables.each do |t|%>
                <% if t.isPublic %>
                  <% public = true %>
                <% end%>
                <% if t.timetable_entries.empty? %>
                  <td>In generazione . . .</td>
                  <% in_generazione = true %>
                  <% break %>
                <% else %>
                  <td><%= link_to "Anno " + t.period.year.to_s, t %></td>
                <% end %>
              <% end %>
              <% unless in_generazione %>
                <td><%= link_to "Elimina", destroy_all_timetables_path(:year => year, :subperiod => period, :graduate_course => graduate_course.id), :method => :delete %></td>
              <% end %>
              <% unless public %>
                <td><%= link_to "Rendi pubblico", publicize_all_timetables_path(:year => year, :subperiod => period, :graduate_course => graduate_course.id), :method => :delete %></td>
              <% end %>
            <% else %>
              <td><%= link_to "Genera", :action => :new, :subperiod => period, :graduate_course => graduate_course.id, :year => year%></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
<% end %>
