<h1>Amministrazione tabelle orarie</h1>
<% @timetables.each do |graduate_course, years| %>
  <div class="first_div">
    <h3><%= graduate_course.name %></h3>
    <% years.each do |year, periods| %>
      <h4><%= year %></h4>
      <table class="list_table">
        <tr>
          <th>Periodo</th>
          <th>Anno</th>
          <th colspan="4">Opzioni</th>
        </tr>
        <% periods.each do |period, timetables| %>
          <tr>
            <td><%= period %></td>
            <% if timetables %>
              <% public = false %>
              <% complete = true %>
              <% if graduate_course.timetables_in_generation_specific?(period, year) %>
                <% complete = false %>
                <td><%= image_tag "generating.gif", :style=>"padding-top:1px" %>&nbsp;&nbsp;in generazione . . .</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              <% end %>
              <% if graduate_course.timetables_in_schedulation_specific?(period, year) %>
                <% complete = false %>
                <td><%= image_tag "programming.gif", :style=>"padding-top:1px" %>&nbsp;&nbsp;in programmazione</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              <% end %>
              <% if complete %>
                <% timetables.each do |t|%>
                  <% if t.isPublic %>
                    <% public = true %>
                  <% end%>
                  <td><%= t.period.year.to_s %></td>
                  <td><%= link_to image_tag("/images/html.gif"), t, :title => "Visualizza l'orario in formato html" %></td>
                  <td><%= link_to image_tag("/images/pdf.png"), {:action => "show", :id => t.id, :format => :pdf}, :title => "Visualizza l'orario in formato pdf" %></td>
                <% end %>
                <td>
                  <% unless public %>
                    <%= link_to image_tag("/images/world.gif"), publicize_all_timetables_path(:year => year, :subperiod => period, :graduate_course => graduate_course.id), :method => :post, :title => "Rendi pubblico lo schema d'orario" %>
                  <% end %>
                </td>
                <td><%= link_to image_tag("/images/delete.png"), destroy_all_timetables_path(:year => year, :subperiod => period, :graduate_course => graduate_course.id), :method => :delete, :title => "Elimina lo schema d'orario", :confirm=>"Sei sicuro di voler eliminare definitivamente lo schema d'orario generato?" %></td>
              <% end %>
            <% else %>
              <td><%= image_tag "wand.gif" %>&nbsp;&nbsp;<%= link_to "Genera", :action => :new, :subperiod => period, :graduate_course => graduate_course.id, :year => year %></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
<% end %>
