<h1>Orario <%= @timetable.graduate_course.name  %> <%= @timetable.period.year.to_s + "° anno" %></h1>
<table class="list_table">
  <tr>
    <th></th>
    <th><%=  from_id_to_dayname(1) %></th>
    <th><%=  from_id_to_dayname(2) %></th>
    <th><%=  from_id_to_dayname(3) %></th>
    <th><%=  from_id_to_dayname(4) %></th>
    <th><%=  from_id_to_dayname(5) %></th>
  </tr>
  <% i = 0  %>
  <% @timetable_entries.each do |c| %>
      <tr>
        <% minuti = (@min_startTime+(i*@duration)).min.to_i %>
        <% if minuti < 10 %>
          <% minuti="0"+minuti.to_s %>
        <% else %>
          <% minuti=minuti.to_s %>
        <% end %>
        <% minutii = (@min_startTime+((i+1)*@duration)).min.to_i %>
        <% if minutii < 10 %>
          <% minutii="0"+minutii.to_s %>
        <% else %>
          <% minutii = minutii.to_s %>
        <% end %>
      <td> <%= (@min_startTime+(i*@duration)).hour.to_s + ":" + minuti %> <br/> <%= (@min_startTime+((i+1)*@duration)).hour.to_s + ":" + minutii  %> </td>
     <% c.each do |t| %>
       <%  if t && t.classroom && t.classroom.id && t.classroom.lab  %>
         <td class="labor">
       <% else %>
         <td>
       <% end %>
          <%  if t  %>
            <% if t.teaching && t.teaching.id %>
             <%= link_to t.teaching.name, teaching_path(t.teaching) %><br/>
             <%  else %>
                 (insegnamento non presente)<br/>
             <%  end %>
             <% if t.classroom && t.classroom.id %>
              <%= t.classroom.name %>
              <%  else %>
                 (aula non presente)
              <%  end %>
            <%  end %>
          </td>
      <%  end %>
      </tr>
        <% i = i + 1 %>
<% end  %>
</table>

<p>
<% teachings_vector = Array.new  %>
 <% @timetable_entries.each do |c| %>
    <% c.each do |t| %>
      <% if t %>
        <% teachings_vector << t.teaching %>
        <% end  %>
    <% end  %>
  <% end  %>
  <p><span id="lab_legend"></span>&nbsp;: ore di laboratorio</p>
  <h3> Insegnamenti</h3>
  <ul>
  <% teachings_vector.uniq!.each do |v| %>
    <% if v.teacher %>
    <li> <%= v.name  %> è tenuto da: <%= link_to v.teacher.surname + " " + v.teacher.name, teacher_path(v.teacher) %> </li>
    <% else  %>
    <li> <%= v.name  %> non ha alcun docente assegnato </li>
  <% end  %>
    <% end  %>
  </ul>
</p>
<p>
<%= link_to "Indietro", :back %>
</p>