<h1>Cambio password</h1>
<hr/>
<br/>
  <% remote_form_for :user, :url => {:action => :update}, :html=> {:method => :put} do |f| %>
  <p>
      <div class="lbl_userEdit"><%= label_tag 'Password attuale: *' %></div>
      <div class="txt_userEdit"><%= password_field_tag 'old_password' %>
      <span class="warning" id="old_password_errors">
        <% if @old_password != 1%>
         Password non corretta
       <% end %>
     </span></div>
    </p>
    <p>
      <div class="lbl_userEdit"><%= f.label 'Nuova password: *' %></div>
      <div class="txt_userEdit"><%= f.password_field :password,  :size => 20 %>
      <span class="warning" id="password_errors"> <%= @current_user.errors.on(:password) %> </span></div>
    </p>
    <p>
      <div class="lbl_userEdit"><%= label_tag 'Conferma nuova password: *' %></div>
      <div class="txt_userEdit"><%= password_field_tag 'repeat_password'%>
      <span class="warning" id="password_errors_bis">
        <% if @repeat_password != 1%>
        Attenzione non coincide
       <% end %>
     </span></div>
   </p>
   <p>* campi obbligatori</p>
   <br/>
    <p>
      <%= f.submit "Cambia password" %>
    </p>
  <% end %>