<ul>
  <li><%= link_to "Home" , :controller => "timetables" %></li>
  <li><%= link_to "Info Aule" , :controller => "classrooms" %></li>
  <li><%= link_to "Info Docenti", :controller => "teachers" %></li>
  <li><%= link_to "Info Strutture" , :controller => "buildings"%></li>
  <li><%= link_to "Info Insegnam." , :controller => "teachings"%></li>
  <li><%= link_to "Info Corsi" , :controller => "graduate_courses"%></li>
</ul>