<h1>Editing building</h1>

<% form_for(@building) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <br><br>
  <%= error_messages_for :address %>
    <% fields_for :address do |a| %>
      Città: <%= a.text_field :city %><br/>
      Telefono: <%= a.text_field :telephone %><br/>
      Via: <%= a.text_field :street %><br/>
    <% end %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', :action => 'administration' %>
