<h1>Modifica di un edificio</h1>

<% remote_form_for(@building) do |f| %>
  <p>
    <%= f.label 'Nome: *' %><br />
    <%= f.text_field :name %>
    <span id="errors_name" class="warning"> <%= @building.errors.on(:name) %></span>
  </p>
  <fieldset>
    <legend>Indirizzo:</legend>
    <% fields_for :address do |a| %>
      <%= f.label 'Città: *' %><br/>
      <%= a.text_field :city %>
      <span id="errors_city" class="warning"> <%=  @address.errors.on(:city) %></span>
     <p>
       <%= f.label'Telefono:' %><br/>
       <% if(@address.telephone != '') %>
        <% i = (@address.telephone) =~ /-/ %>
        <%=  text_field_tag 'prefisso', @address.telephone[0..i-1], :size => 4 %>-<%=  text_field_tag 'telefono', @address.telephone[i+1..(@address.telephone.size)-1], :size => 8 %>
      <%else%>
        <%=  text_field_tag 'prefisso', '', :size => 4 %>-<%=  text_field_tag 'telefono', '', :size => 8 %>
      <% end %>
      <span id="errors_telephone" class="warning"> <%=  @address.errors.on(:telephone) %></span>
     </p>
      <%= f.label 'Via: *' %><br/>
      <%= a.text_field :street %>
      <span id="errors_street" class="warning"> <%=  @address.errors.on(:street) %></span>
    <% end %>
    <p><strong>Nota:</strong> per accedere correttamente alle funzioni di Google Maps, per la ricerca dell'indirizzo, scrivere nel campo "via" l'indirizzo completo. Esempio: via Tiziano Aspetti 2<br />
   Nel caso in cui ancora non trovi l'indirizzo corretto, mettere nel campo "città" anche la provincia tra parentesi. Esempio: Padova (PD)</p>
    </fieldset>
    <p>* campi obbligatori</p>
  <p>
    <%= f.submit "Salva modifiche" %>
  </p>
<% end %>
