<h1>Inserimento di un nuovo edificio</h1>
<% remote_form_for :building, :url => { :action => :create } do |form| %>
  <p>
  <%= form.label 'Nome:'  %><br/>
  <%= form.text_field :name %>
  <span id="errors_name"> <%= @building.errors.on(:name) %></span>
 </p>
  <fieldset>
    <legend>Indirizzo:</legend>
<% fields_for :address do |address| %>
  <%= form.label 'Città:' %><br/>
  <%= address.text_field :city %>
  <span id="errors_city"> <%=  @address.errors.on(:city) %></span>
  <p>
   <%= form.label'Telefono(campo non obbligatorio):' %><br/>
   <%=  text_field_tag 'prefisso', '', :size => 4 %>-<%=  text_field_tag 'telefono', '', :size => 8 %>
   <span id="errors_telephone"> <%=  @address.errors.on(:telephone) %></span>
   </p>
   <%= form.label' Via:'%><br/>
   <%= address.text_field :street %>
   <span id="errors_street"> <%=  @address.errors.on(:street) %></span>
   <% end %>
   </fieldset>
   <p>
    <%= submit_tag "Crea"%>
    </p>
    <% end %>
    <%= link_to 'Back', :action => 'administration' %>