<h1>Inserimento di un nuovo Buildings</h1>
<br><br>
<% form_for :building, :url => { :action => :create } do |form| %>
  <%= error_messages_for :building %>
  Nome:       <%= form.text_field :name %><br/>
  <br><br>
  <fieldset>
    <legend>Indirizzo:</legend>
    <%= error_messages_for :address %>
    <% fields_for :address do |address| %>
      Città: <%= address.text_field :city %><br/>
      Telefono: <%= address.text_field :telephone %><br/>
      Via: <%= address.text_field :street %><br/>
    <% end %>
  </fieldset>
  <%= submit_tag %>
<% end %>

<%= link_to 'Back', :action => 'administration' %>