<h1>Inserimento di un nuovo edificio</h1>
<% remote_form_for :building, :url => { :action => :create } do |form| %>
  <p>
  <%= form.label 'Nome: *'  %><br/>
  <%= form.text_field :name %>
  <span id="errors_name" class="warning"> <%= @building.errors.on(:name) %></span>
 </p>
  <fieldset>
    <legend>Indirizzo:</legend>
<% fields_for :address do |address| %>
  <%= form.label 'Città: *' %><br/>
  <%= address.text_field :city %>
  <span id="errors_city" class="warning"> <%=  @address.errors.on(:city) %></span>
  <p>
   <%= form.label'Telefono:' %><br/>
   <%=  text_field_tag 'prefisso', '', :size => 4 %>-<%=  text_field_tag 'telefono', '', :size => 8 %>
   <span id="errors_telephone" class="warning"> <%=  @address.errors.on(:telephone) %></span>
   </p>
   <%= form.label'Via: *'%><br/>
   <%= address.text_field :street %>
   <span id="errors_street" class="warning"> <%=  @address.errors.on(:street) %></span>
   <% end %>
   <p><strong>Nota:</strong> per accedere correttamente alle funzioni di Google Maps, per la ricerca dell'indirizzo, scrivere nel campo "via" l'indirizzo completo. Esempio: via Tiziano Aspetti 2<br />
   Nel caso in cui ancora non trovi l'indirizzo corretto, mettere nel campo "città" anche la provincia tra parentesi. Esempio: Padova (PD)</p>
   </fieldset>
   <p>
   * campi obbligatori
   </p>
   <p>
      <%= submit_tag "Crea"%>
   </p>
<% end %>