<p>
  <b>name:</b>
  <%=h @building.name %>
</p>
<p>
  <b>city:</b>
  <%=h @address.city %>
</p><p>
  <b>telephone:</b>
  <%=h @address.telephone %>
</p><p>
  <b>street:</b>
  <%=h @address.street %>
</p>

<br> <br>

<%= link_to 'Back', :action => 'administration' %>
