<h1><%=h @building.name %></h1>
<p><strong>Città:</strong> <%=h @address.city %></p>
<p><strong>Indirizzo:</strong> <%= @address.street %></p>
<% if !(@address.telephone.eql?(""))  %>
  <p><strong>Telefono:</strong> <%= @address.telephone %></p>
<% end %>
<p>
  <% if @building_classrooms.empty? %>
    Non sono state registrate aule per questo edificio
  <% else %>
    <h3>Aule:</h3>
    <table class="list_table">
      <tr>
        <th>Nome</th>
        <th>Capacità</th>
      </tr>
      <% for c in @building_classrooms %>
        <tr>
          <td><%=h c.name %></td><td><%=h c.capacity %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</p>