<h1>
  <%=h @building.name %>
  <form action="http://maps.google.com/maps" method="get" style="display:inline" target="_blank">
    <%= image_submit_tag "/images/maps.gif", :title => "Cerca l'indirizzo con Google Maps", :style => "padding:1em 0 0 1em" %>
    <input type="hidden" name="q" value="<%= @building.address.street %> <%= @building.address.city %>" />
    <input type="hidden" name="hl" value="it" />
  </form>
</h1>
<p><strong>Città:</strong> <%=h @address.city %></p>
<p><strong>Indirizzo:</strong> <%= @address.street %></p>
<% if !(@address.telephone.eql?(""))  %>
  <p><strong>Telefono:</strong> <%= @address.telephone %></p>
<% end %>
<p>
  <% if @building_classrooms.empty? %>
    Non sono state registrate aule per questo edificio
  <% else %>
    <h3>Aule:</h3>
    <table class="list_table">
      <tr>
        <th>Nome</th>
        <th>Capacità</th>
      </tr>
      <% for c in @building_classrooms %>
        <tr>
          <td><%=h c.name %></td><td><%=h c.capacity %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</p>
<p><%= link_to "Indietro", :back %></p>