<%= menu_admin() %>
<h1>Amministrazione docenti</h1>
<% unless @not_active_users.empty? %>
  <%= show_not_active_users(@not_active_users) %>
<% end %>
<% unless @not_associated_users.empty? %>
  <h3>Docenti non associati</h3>
  <% @not_associated_users.each do |n| %>
  <%= show_teacher_admin(n.specified) %>
  <% end %>
<% end %>
<h3>Docenti divisi per corso di laurea</h3>
<% @graduate_courses.each do |g| %>
  <div class="first_div">
    <h4><%= g.name %></h4>
    <% g.users.each do |t| %>
      <%= show_teacher_admin(t.specified) %>
      <br>
    <% end %>
  </div>
<% end %>