<h1 style="margin-bottom:1.5em">Amministrazione docenti</h1>
<% unless @not_active_users.empty? %>
  <%= show_not_active_users(@not_active_users) %>
<% end %>
<% unless @not_associated_users.empty? %>
  <h3>Docenti non associati</h3>
  <table class="list_table">
    <tr>
      <th>Nome</th>
      <th colspan="3">Opzioni</th>
    </tr>
    <% @not_associated_users.each do |n| %>
      <%= show_teacher_admin(n.specified) %>
    <% end %>
  </table>
<% end %>
<h3>Docenti divisi per corso di laurea</h3>
<% @graduate_courses.each do |g| %>
    <h4><%= g.name %></h4>
    <table class="list_table">
    <tr>
      <th>Nome</th>
      <th colspan="3">Opzioni</th>
    </tr>
      <% g.users.each do |t| %>
        <%= show_teacher_admin(t.specified) %>
      <% end %>
    </table>
<% end %>
<h3>Invito nuovi docenti</h3>
<%= menu_admin() %>