<!-- ptTimeSelect files below -->
<%= stylesheet_link_tag 'jquery.ptTimeSelect.css' %>
<%= javascript_include_tag 'jquery.ptTimeSelect.js' %>
<script type="text/javascript">
  $(function(){
    $('#start_hour').ptTimeSelect({hoursLabel: "Ore", minutesLabel: "Minuti", setButtonLabel: "Seleziona", onFocusDisplay: false, popupImage: "<IMG SRC='/stylesheets/images/ptTimeSelect_clock.png'"});
    $('#end_hour').ptTimeSelect({hoursLabel: "Ore", minutesLabel: "Minuti", setButtonLabel: "Seleziona", onFocusDisplay: false, popupImage: "<IMG SRC='/stylesheets/images/ptTimeSelect_clock.png'"});
});
</script>

<h3>Modifica delle preferenze per: <%=h @teacher.name %> <%=h @teacher.surname %></h3>
<hr />
<% if @constraints.size == 0 %>
  <p id="message">Al momento non hai impostato preferenze.</p>
  <table id="manageable_constraints" style="display:none">
    <tr>
      <th>Giorno</th>
      <th>Ora inizio</th>
      <th>Ora fine</th>
    </tr>
  </table>
<% else %>
  <p id="message">Hai dichiarato la tua preferenza a non sostenere lezioni nei seguenti periodi:</p>
  <table id="manageable_constraints">
    <tr>
      <th>Giorno</th>
      <th>Ora inizio</th>
      <th>Ora fine</th>
    </tr>
<% @constraints.each do |constraint| %>
  <tr id='<%= constraint.id %>'>
    <td><%= from_id_to_dayname(constraint.day) %></td>
    <td><%=h constraint.startHour.to_s(:time) %></td>
    <td><%=h constraint.endHour.to_s(:time) %></td>
    <td><% form_remote_tag :url => destroy_preference_teacher_path(@teacher,:constraint_id => constraint.id) do %>
        <%= submit_tag "Rimuovi" %>
    <% end %></td>
    <td><% form_remote_tag :url => teacher_preference_priority_up_teacher_path(:teacher_id => @teacher.id,:constraint_id => constraint.id) do %>
        <%= submit_tag "Su" %>
    <% end %></td>
    <td><% form_remote_tag :url => teacher_preference_priority_down_teacher_path(:teacher_id => @teacher.id,:constraint_id => constraint.id) do %>
        <%= submit_tag "Giu" %>
    <% end %></td>
  </tr>
<% end %>
</table>
<% end %>
<p><span id="destroyupdate_error" class="warning"></span> <p>
  <strong>Attenzione:</strong>
<p>Le preferenze sono ordinate per <strong>priorità decrescente:</strong> spostare in alto le preferenze <em>più importanti</em> e in basso quelle <em>meno importanti.</em> L'algoritmo di calcolo dell'orario di lezione darà <em>maggior peso alle preferenze con priorità più alta.</em></p>
<hr />
Per inserire una nuova preferenza:
<ul>
  <li>inserire il giorno della settimana in cui <strong>non</strong> si vuole fare lezione</li>
  <li>inserire l'ora di inizio e fine nel formato HH:MM, oppure cliccare sull'icona dell'orologio per un inserimento grafico</li>
</ul>
<% form_remote_tag(:url => create_preference_teacher_path(@teacher), :html => {:id => "form_docEditPref"}) do %>
  <p>
    <div class="lbl_docEditPref"><%= label_tag "day", "Giorno interessato:" %></div>
    <div class="txt_docEditPref"><%= select_tag "day", "<option>Lunedi</option><option>Martedi</option><option>Mercoledi</option><option>Giovedi</option><option>Venerdi</option>" %></div>
  </p>
  <p>
    <div class="lbl_docEditPref"><%= label_tag "start_hour", "Ora di inizio vincolo:" %></div>
    <div class="txt_docEditPref"><%= text_field_tag "start_hour", nil, :maxlength => 5, :size => 10 %></div>
    <span id="errors_start" class="warning"><% if (@constraint) %> <%=@constraint.errors.on(:startHour)%><% end %></span>
  </p>
  <p>
    <div class="lbl_docEditPref"><%= label_tag "end_hour", "Ora di fine vincolo:" %></div>
    <div class="txt_docEditPref"><%= text_field_tag "end_hour", nil, :maxlength => 5, :size => 10 %></div>
    <span id="errors_end" class="warning"><% if (@constraint) %> <%=@constraint.errors.on(:endHour)%><% end %></span>
  </p>
 <p>
    <br><span id="errors_others" class="warning"><% if (@constraint) %> <%=@constraint.errors.on([:starHour,:endHour])%><% end %></span>
  </p>
  <p id="submit_docEditPref"><%= submit_tag "Aggiungi preferenza" %></p>
<% end %>
<p><strong>Nota:</strong> la nuova preferenza verrà inserita in fondo alla lista.</p>