<h3>Modifica dei dati personali</h3>

<% form_tag(:action => :update_personal_data, :html => {:id => "form_docEdit"}) do %>
    <%= error_messages_for :address, :object => @user.address %>
  <p>
    <% tmp = "" %>
    <% if (@user.address) %>
      <% tmp = @user.address.city %>
    <% end %>
    <div>
      <div class="lbl_docEdit">
        <%= label_tag('city', "Città:", :class => "formLabel") %>
      </div>
      <div class="txt_docEdit">
        <%= text_field_tag("city", tmp, :class => "formTxt") %>
      </div>
    </div>
  </p>
  <p>
    <% if (@user.address) %>
      <% tmp = @user.address.telephone %>
    <% end %>
    <div class="lbl_docEdit">
      <%= label_tag('telephone', "Telefono:", :class => "formLabel") %>
    </div>
    <div class="txt_docEdit">
      <%= text_field_tag("telephone", tmp, :class => "formTxt") %>
    </div>
</p>
  <p>
    <% if (@user.address) %>
      <% tmp = @user.address.street %>
    <% end %>
    <div class="lbl_docEdit">
      <%= label_tag('street', "Indirizzo:", :class => "formLabel") %>
    </div>
    <div class="txt_docEdit">
      <%= text_field_tag("street", tmp, :class => "formTxt") %>
    </div>
  </p>
  <p>
    <%= submit_tag "Aggiorna dati" %>
  </p>
<% end %>