  Modifica del docente <%= show_teacher(@teacher)  %>

<hr>
<p>
  <% if @manageable_capabilities.size == 0 %>
    <p id="manageable_capabilities_header">Nessun privilegio posseduto</p>
    <table id="manageable_capabilities" style="display:none">
    
    </table>
  <% else %>
    <p id="manageable_capabilities_header">Privilegi posseduti ed amministrabili</p>
    <table id="manageable_capabilities">
      <% @manageable_capabilities.each do |m| %>
        <tr id='<%= m.id %>'>
          <td><%=h m.name %></td>
          <td><% form_remote_tag :html => {:method => :delete}, :url => update_capabilities_teacher_path(@teacher,:ids => m.id), :method => :delete do %>
            <% if m.name == 'Manage capabilities' %>
              <%= submit_tag 'Rimuovi', :confirm => "Sei sicuro di voler eliminare il privilegio <Manage capabilities> ?" %>
            <% else %>
              <%= submit_tag "Rimuovi" %>
            <% end %>
          <% end %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <span id="errors_destroy" class="warning"></span> <br>
</p>

<p>
  <% if @selectable_capabilities.size == 0 %>
    <p id="selectable_capabilities_header">Non esistono altri privilegi da aggiungere</p>
    <table id="selectable_capabilities" style="display:none">
  
    </table>
  <%  else %>
    <p id="selectable_capabilities_header">Privilegi disponibili da aggiungere</p>
    <table border="1" id="selectable_capabilities" class="list_table">
      <% @selectable_capabilities.each do |s| %>
        <tr id='<%= s.id %>'>
          <td class="list_table_first_item"><%=h s.name %></td>
          <td>
            <% form_remote_tag :html => {:method => :put}, :url => update_capabilities_teacher_path(@teacher,:ids => s.id), :method => :put do %>
              <%= image_submit_tag "/images/aggiungi.png", :title => "Aggiungi il privilegio" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <span id="errors_add" class="warning"></span> <br>
</p>