<h1>Modifica del docente <%= @teacher.name %> <%= @teacher.surname %></h1>
<p>
  <% if @manageable_capabilities.size == 0 %>
    <h4 id="manageable_capabilities_header">Nessun privilegio posseduto</h4>
    <table id="manageable_capabilities" style="display:none">
    
    </table>
  <% else %>
    <h4 id="manageable_capabilities_header">Privilegi posseduti ed amministrabili:</h4>
    <table id="manageable_capabilities">
      <% @manageable_capabilities.each do |m| %>
        <tr id='<%= m.id %>'>
          <td class="list_table_first_item"><%=h m.name %></td>
          <td><% form_remote_tag :html => {:method => :delete}, :url => update_capabilities_teacher_path(@teacher,:ids => m.id), :method => :delete do %>
            <% if m.name == 'Gestione privilegi' %>
              <%= image_submit_tag "/images/togli.gif", :title => "Togli privilegio", :class => "plus_less", :confirm => "Sei sicuro di voler eliminare il privilegio \"Gestione privilegi\"?" %>
            <% else %>
              <%= image_submit_tag "/images/togli.gif", :title => "Togli privilegio", :class => "plus_less" %>
            <% end %>
          <% end %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <span id="errors_destroy" class="warning"></span> <br>
</p>

<p>
  <% if @selectable_capabilities.size == 0 %>
    <p id="selectable_capabilities_header">Non esistono altri privilegi da aggiungere</p>
    <table id="selectable_capabilities" style="display:none">
  
    </table>
  <%  else %>
    <h4 id="selectable_capabilities_header">Privilegi disponibili da aggiungere:</h4>
    <table id="selectable_capabilities">
      <% @selectable_capabilities.each do |s| %>
        <tr id='<%= s.id %>'>
          <td class="list_table_first_item"><%=h s.name %></td>
          <td>
            <% form_remote_tag :html => {:method => :put}, :url => update_capabilities_teacher_path(@teacher,:ids => s.id), :method => :put do %>
              <%= image_submit_tag "/images/aggiungi.gif", :title => "Aggiungi privilegio", :class => "plus_less" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <span id="errors_add" class="warning"></span> <br>
</p>
<p><%= link_to "Indietro", :back %></p>