<p>
  Modifica del docente <%= show_teacher(@teacher)%>
</p>
<p>
  Corsi di laurea posseduti ed amministrabili: <br/>
  <% @manageable_graduate_courses.each do |g| %>
      <%=h g.name %>
      <%= link_to "Rimuovi", update_graduate_courses_teacher_path(@teacher, :ids => g.id), :method => :delete %>
      <br/>
  <% end %>
</p>
<p>
  Corsi di laurea da aggiungere: <br/>
  <% @selectable_graduate_courses.each do |g| %>
    <%=h g.name %>
    <%= button_to "Aggiungi", update_graduate_courses_teacher_path(@teacher, :ids => g.id), :method => :put, :ids => g.id %>
</p>
<% end %>