<%= edit_teachers_menu %>
<p>
  Modifica del docente <%=h @teacher.surname%> <%=h @teacher.name%>
</p>
<p>
  Corsi di laurea posseduti ed amministrabili: <br/>
  <% @manageable_graduate_courses.each do |g| %>
      <%=h g.name %>
      <%= button_to "Rimuovi", :action => :update_graduate_courses, :method => :delete, :ids => g.id%>
      <br/>
  <% end %>
</p>
<p>
  Corsi di laurea da aggiungere: <br/>
  <% @selectable_graduate_courses.each do |g| %>
    <%=h g.name %>
    <%= button_to "Aggiungi", :action => :update_graduate_courses, :method => :put, :ids => g.id %>
</p>
<% end %>