<!-- ptTimeSelect files below -->
<%= stylesheet_link_tag 'jquery.ptTimeSelect.css' %>
<%= javascript_include_tag 'jquery.ptTimeSelect.js' %>
<script type="text/javascript">
  $(function(){
    $('#start_hour').ptTimeSelect({hoursLabel: "Ore", minutesLabel: "Minuti", setButtonLabel: "Seleziona", onFocusDisplay: false, popupImage: "<IMG SRC='/stylesheets/images/ptTimeSelect_clock.png'"});
    $('#end_hour').ptTimeSelect({hoursLabel: "Ore", minutesLabel: "Minuti", setButtonLabel: "Seleziona", onFocusDisplay: false, popupImage: "<IMG SRC='/stylesheets/images/ptTimeSelect_clock.png'"});
});
</script>

<h3>Modifica dei vincoli di non disponibilità per: <%=h @teacher.name %> <%=h @teacher.surname %></h3>
<hr>
<br>
<% if @constraints.size == 0 %>
  <span id="message">Non possiedi vincoli di non disponibilità impostati</span>
<% else %>
  <span id="message">Sei stato/a dichiarato/a non disponibile nei seguenti periodi:</span>
<% end %>
<br><br>

<table id="manageable_constraints">
  <tr>
    <th>Giorno</th>
    <th>Ora inizio</th>
    <th>Ora fine</th>
    <th>Motivazione</th>
  </tr>
<% @constraints.each do |constraint| %>
  <tr id='<%= constraint.id %>'>
    <td><%= from_id_to_dayname(constraint.day) %></td>
    <td><%=h constraint.startHour.to_s(:time) %></td>
    <td><%=h constraint.endHour.to_s(:time) %></td>
    <td><%=h constraint.description %></td>
    <td><% form_remote_tag :url => destroy_constraint_teacher_path(@teacher,:constraint_id => constraint.id) do %>
        <%= submit_tag "Rimuovi" %>
    <% end %></td>
  </tr>
<% end %>
</table>
<span id="errors_destroy" class="warning"></span> <br>

<hr>
<br>
Nuovo vincolo di indisponibilità:
<br>
 - Inserire il giorno della settimana <br>
 - Inserire l'ora di inizio e fine nel formato HH:MM <br>
 - Inserire la motivazione
<br><br>
<% form_remote_tag :url => create_constraint_teacher_path(@teacher) do %>
    <%= label_tag "day", "Giorno interessato" %>
    <%= select_tag "day", "<option>Lunedi</option><option>Martedi</option><option>Mercoledi</option><option>Giovedi</option><option>Venerdi</option>" %> <br>
    <%= label_tag "start_hour", "Ora di inizio vincolo" %>
    <%= text_field_tag "start_hour", nil, :maxlength => 5, :size => 10 %>
    <span id="errors_start" class="warning"><% if (@constraint) %> <%=@constraint.errors.on(:startHour)%><% end %></span> <br>
    <%= label_tag "end_hour", "Ora di fine vincolo" %>
    <%= text_field_tag "end_hour", nil, :maxlength => 5, :size => 10 %>
    <span id="errors_end" class="warning"><% if (@constraint) %> <%=@constraint.errors.on(:endHour)%><% end %></span> <br>
    <br><%= label_tag "description", "Motivazione" %><br>
    <%= text_area_tag 'description', nil, :rows => 5, :cols => 25 %>
    <span id="errors_description" class="warning"><% if (@constraint) %> <%=@constraint.errors.on([:description])%><% end %></span> <br>
    <br> <span id="errors_others" class="warning"><% if (@constraint) %> <%=@constraint.errors.on([:starHour,:endHour])%><% end %></span> <br><br>
    <%= submit_tag "Aggiungi vincolo" %>
<% end %>
<br><br>
<%= link_to 'Back', :controller => 'timetables' %>
