<!-- ptTimeSelect files below -->
<%= stylesheet_link_tag 'jquery.ptTimeSelect.css' %>
<%= javascript_include_tag 'jquery.ptTimeSelect.js' %>
<script type="text/javascript">
  $(function(){
    $('#start_hour').ptTimeSelect({hoursLabel: "Ore", minutesLabel: "Minuti", setButtonLabel: "Seleziona", onFocusDisplay: false, popupImage: "<IMG SRC='/stylesheets/images/ptTimeSelect_clock.png'"});
    $('#end_hour').ptTimeSelect({hoursLabel: "Ore", minutesLabel: "Minuti", setButtonLabel: "Seleziona", onFocusDisplay: false, popupImage: "<IMG SRC='/stylesheets/images/ptTimeSelect_clock.png'"});
});
</script>

<h1>Vincoli di non disponibilità</h1>
<% if @number_of_real_expiry_dates != 0 %>
  <h4>Prossime date limite per l'inserimento dei vincoli</h4>
  <table>
    <% i = 0 %>
    <% @expiry_dates.each do |ed| %>
      <% if ed != nil %>
        <tr>
          <td><%= GraduateCourse.find(ed.graduate_course_id).name %>:</td>
          <td><%= ed.date %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>
<hr />
<% if @constraints.size == 0 %>
  <p id="message">Al momento non hai impostato vincoli.</p>
  <table id="manageable_constraints" style="display:none" class="list_table">
    <tr>
      <th>Giorno</th>
      <th>Ora inizio</th>
      <th>Ora fine</th>
      <th>Motivazione</th>
      <th>Opzioni</th>
    </tr>
  </table>
<% else %>
  <p id="message">Hai dichiarato di non essere disponibile nei seguenti periodi:</p>
<br />
<table id="manageable_constraints" class="list_table">
  <tr>
    <th>Giorno</th>
    <th>Ora inizio</th>
    <th>Ora fine</th>
    <th>Motivazione</th>
    <th>Opzioni</th>
  </tr>
<% @constraints.each do |constraint| %>
  <tr id='<%= constraint.id %>'>
    <td><%= from_id_to_dayname(constraint.day) %></td>
    <td><%=h constraint.startHour.to_s(:time) %></td>
    <td><%=h constraint.endHour.to_s(:time) %></td>
    <td><%=h constraint.description %></td>
    <td><% form_remote_tag :url => destroy_constraint_teacher_path(@teacher,:constraint_id => constraint.id) do %>
        <%= image_submit_tag "/images/delete.png", :title => "Elimina il vincolo" %>
    <% end %></td>
  </tr>
<% end %>
</table>
<span id="errors_destroy" class="warning"></span>
<% end %>
<p><strong>Nota:</strong> l'ordine di inserimento dei vincoli è indifferente.</p>
<hr />
<p>Per inserire un nuovo vincolo:
<ul>
<li>inserire il giorno della settimana in cui si è impossibilitati a fare lezione</li>
<li>inserire l'ora di inizio e fine nel formato HH:MM, oppure cliccare sull'icona dell'orologio per un inserimento grafico</li>
<li>inserire la motivazione</li>
</ul>
</p>

<% form_remote_tag(:url => create_constraint_teacher_path(@teacher), :html => {:id => "form_docEditConstr"}) do %>
  <p>
    <div class="lbl_docEditConstr"><%= label_tag "day", "Giorno interessato:" %></div>
    <div class="txt_docEditConstr"><%= select_tag "day", "<option>Lunedi</option><option>Martedi</option><option>Mercoledi</option><option>Giovedi</option><option>Venerdi</option>" %></div>
  </p>
  <p>
    <div class="lbl_docEditConstr"><%= label_tag "start_hour", "Ora di inizio vincolo:" %></div>
    <div class="txt_docEditConstr"><%= text_field_tag "start_hour", nil, :maxlength => 5, :size => 10 %></div>
    <span id="errors_start" class="warning"><% if (@constraint) %> <%=@constraint.errors.on(:startHour)%><% end %></span>
  </p>
  <p>
    <div class="lbl_docEditConstr"><%= label_tag "end_hour", "Ora di fine vincolo:" %></div>
    <div class="txt_docEditConstr"><%= text_field_tag "end_hour", nil, :maxlength => 5, :size => 10 %></div>
    <span id="errors_end" class="warning"><% if (@constraint) %> <%=@constraint.errors.on(:endHour)%><% end %></span>
  </p>
  <p>
    <div id="motiv_docEditConstr"><%= label_tag "description", "Motivazione:" %><br />
    <%= text_area_tag 'description', nil, :rows => 5, :cols => 25 %></div>
    <span id="errors_description" class="warning"><% if (@constraint) %> <%=@constraint.errors.on([:description])%><% end %></span>
  </p>
  <p>
    <br><span id="errors_others" class="warning">
        <% if (@constraint) %>
          <% if (@error_unique)%> <%=@constraint.errors.on([:base])%>
          <%else %> <%=@constraint.errors.on([:starHour,:endHour])%> <% end %>
        <% end %>
      </span>
  </p>
  <br><p id="submit_docEditConstr"><%= submit_tag "Aggiungi vincolo" %></p>
<% end %>