<h1>Creazione dell'account docente <%=h @user.mail%>
</h1>

<% form_for @user, :url => {:action => :activate, :digest => params[:digest]}, :html => {:method => :post} do |f| %>
  <%= error_messages_for :user, :object => @user %>
  <%= error_messages_for :teacher, :object => @user.specified%>
  <%= error_messages_for :address, :object => @user.address %>
   <p>
    <%= label_tag 'password' %>
    <%= f.password_field :password %>
  </p>
  <fieldset>
    <legend>Dati personali</legend>
    <% fields_for :teacher, @user.specified do |field| %>
  <p>
    <%= label_tag 'Nome' %>
    <%= field.text_field :name %>
  </p>
  <p>
    <%= label_tag 'Cognome' %>
    <%= field.text_field :surname %>
  </p>
  <% end %>
  </fieldset>
  <fieldset>
    <legend>Indirizzo</legend>
    <% fields_for :address, @user.address do |field| %>
    <p>
      Città <%= field.text_field :city %><br/>
      Telefono: <%= field.text_field :telephone %><br/>
      Via: <%= field.text_field :street %><br/>
    </p>
    <% end %>
  </fieldset>
    <% #  hidden_field_tag 'digest', params[:digest]  %>
  <p>
    <%= submit_tag "Crea account" %>
  </p>
<% end %>