<h3>Informazioni sul docente</h3>
<table id="trademark">
  <tr>
  <td><span id="unipd-logo-white"></span></td>
  <td id="trademark_info">
  <h4>Università di Padova</h4>
    <p><em><%=h @teacher.name %> <%=h @teacher.surname %></em></p>
    <p><%=h @user.address.street %></p>
    <p><%=h @user.address.city %></p>
    <% if @user.address.telephone != nil %>
      <p>Tel. <%=h @user.address.telephone %></p>
    <% end %>
    <br />
    <p><%= mail_to @user.mail %></p>
  </td>
  </tr>
</table>
<p>
<% if @teacher.teachings.empty? %>
  Al momento, il docente non tiene nessun insegnamento.
<% else %>
  Insegnamenti tenuti: <br><br>
  <% @teacher.teachings.each do |t| %>
    <%= link_to t.name, teaching_path(t) %> <br>
  <% end %>
<% end %>
</p>