<h3>Modifica insegnamento</h3>

<% remote_form_for(@teaching) do |f| %>
  <fieldset>
  <legend> Insegnamento: </legend>
   <p>
    <%= f.label '*Nome:' %><br />
    <%= f.text_field :name %>
    <span class="warning" id="errors_name"><%= @teaching.errors.on(:name) %> </span>
  </p>
  <p>
    <%= f.label "CFU:" %><br />
    <%= f.text_field :CFU, :size=> 2 %>
    <span class="warning" id="errors_cfu"><%= @teaching.errors.on(:CFU) %> </span>
  </p>
  <p>
    <%= f.label "Ore in classe:" %><br />
    <%= f.text_field :classHours, :size=> 2 %>
    <span class="warning" id="errors_classHours"><%= @teaching.errors.on(:classHours) %> </span>
  </p>
  <p>
    <%= f.label "Ore in laboratorio:" %><br />
    <%= f.text_field :labHours, :size=> 2 %>
    <span class="warning" id="errors_labHours"><%= @teaching.errors.on(:labHours) %> </span>
  </p>
  <p>
    <%= f.label "Numero di studenti stimato:" %><br />
    <%= f.text_field :studentsNumber, :size=> 4 %>
    <span class="warning" id="errors_studentsNumber"><%= @teaching.errors.on(:studentsNumber) %> </span>
  </p>
  <p>
   (*) = campi obbligatori
   </p>
  </fieldset>
   <p>
    <%= f.submit "Aggiorna" %>
   </p>
 <% end %>
