<h1>Listing teachings</h1>
<br>
<table>
  <tr>
    <th>name</th>
    <th>cfu</th>
    <th>class hours</th>
    <th>lab hours</th>
    <th>student number</th>
  </tr>

<% for teaching in @teachings %>
  <tr>
    <td><%=h teaching.name %></td>
    <td><%=h teaching.CFU %></td>
    <td><%=h teaching.classHours %></td>
    <td><%=h teaching.labHours %></td>
    <td><%=h teaching.studentsNumber %></td>
    <td><%= link_to 'Show', teaching %></td>
    <td><%= link_to 'Edit', edit_teaching_path(teaching) %></td>
    <td><%= link_to 'Destroy', teaching, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br> <br>

<%= link_to 'New teaching', new_teaching_path %>

<br> N.B. Mancano Teacher, Period
