<h3>Nuovo insegnamento</h3>

<% remote_form_for(@teaching) do |f| %>
  <fieldset> 
  <legend> Insegnamento: </legend>
  <p>
    <%= f.label "*Nome:" %><br />
    <%= f.text_field :name %>
    <span class="warning" id="errors_name"><%= @teaching.errors.on(:name) %> </span>
  </p>
  <p>
    <%= f.label "CFU:" %><br />
    <%= f.text_field :CFU, :size => 2 %>
    <span class="warning" id="errors_cfu"><%= @teaching.errors.on(:CFU) %> </span>
  </p>
  <p>
    <%= f.label "Ore settimanali in aula:" %><br />
    <%= f.text_field :classHours, :size => 2 %>
    <span class="warning" id="errors_classHours"><%= @teaching.errors.on(:classHours) %> </span>
  </p>
  <p>
    <%= f.label "Ore settimanali in laboratorio:" %><br />
    <%= f.text_field :labHours, :size => 2 %>
    <span class="warning" id="errors_labHours"><%= @teaching.errors.on(:labHours) %> </span>
  </p>
  <p>
    <%= f.label "Numero stimato di studenti:"%><br />
    <%= f.text_field :studentsNumber, :size => 4  %>
    <span class="warning" id="errors_studentsNumber"><%= @teaching.errors.on(:studentsNumber) %> </span>
  </p>
  <p>
    Curriculum <br/>
    <%= select_tag "curriculum_id" , option_groups_from_collection_for_select(@graduate_courses, :curriculums, "name", "id", "name") %>
    <% if @graduate_courses.size == 0 %>
       <span class="warning" id="errors_curriculums">Deve essere associato ad un curriculum </span>
    <% end %>
  </p>
  <p>
    Opzionale:
    <%= check_box_tag "optional" %>
  </p>
  <p>
    Anno <br/>
    <%= select_tag "year" , options_from_collection_for_select(@year, "year", "year") %>
  </p>
    <p>
    Periodo <br/>
    <%= select_tag "subperiod" , options_from_collection_for_select(@subperiod, "subperiod", "subperiod") %>
    <span class="warning" id="errors_period"><%= @teaching.errors.on(:period) %></span>
  </p>
  <p>
   (*) = campi obbligatori
   </p>
  </fieldset>
  <p>
    <%= f.submit "Crea" %>
  </p>
  <% end %>
