<h1><%=h @teaching.name %></h1>
<p><strong>CFU:</strong> <%=h @teaching.CFU %></p>
<p><strong>Ore settimanali in aula:</strong> <%= @teaching.classHours %></p>
<p><strong>Ore settimanali in laboratorio:</strong> <%= @teaching.labHours %></p>
<p><strong>Numero di studenti stimato:</strong> <%=h @teaching.studentsNumber %></p>
<% if @teacher == nil %>
  Non è stato ancora assegnato un docente a quest'insegnamento
<% else %>
  <p><strong>Docente assegnato:</strong>
    <%= link_to @teacher.surname + " " + @teacher.name, teacher_path(@teacher) %> </p>
<% end %>
<p><%= link_to "Indietro", :back %></p>