<h3>
  <%= link_to graduate_course_admin.name, graduate_course_path(graduate_course_admin) %>
</h3>
<div>
  <%= link_to "Modifica", edit_graduate_course_path(graduate_course_admin) %>
  <%= link_to "Elimina", graduate_course_admin, :method => :delete%>
</div>
<% if graduate_course_admin.curriculums.empty? %>
   <%=h "Nessun curriculum presente" %>
<% else %>
  <table>
    <% graduate_course_admin.curriculums.each do |c| %>
      <%= show_curriculum_admin(c) %>
    <% end %>
<% end %>
</table>