<h1>Corsi di laurea e relativi Curriculum</h1>
<br><br>
-----------------------------------------------------------------
<br><br>
<% @graduate_courses.each do |graduate_course| %>
  <tr>
    <td><h1><%=h graduate_course.name %></h1></td>Durata:<td><%=h graduate_course.duration %> anni.</td>
    <td><%= link_to 'Show', graduate_course %></td>
    <td><%= link_to 'Edit', edit_graduate_course_path(graduate_course) %></td>
    <td><%= link_to 'Destroy', graduate_course, :confirm => 'Are you sure?', :method => :delete %></td>
    <br><br>
    <% graduate_course.curriculums.each do |curriculum| %>
    <td><%= curriculum.name %></td>
    <td><%= link_to 'Edit', edit_curriculum_path(curriculum) %></td>
    <td><%= link_to 'Destroy', curriculum, :controller => "curriculum", :confirm => 'Are you sure?', :method => :delete %> </td>
    <br>
    <%  end %>
    <br><br>
    -----------------------------------------------------------------
    <br><br>
  </tr>
<% end %>

<br>
<%= link_to 'Inserisci nuovo curriculum', new_curriculum_path %> <br>
<br> N.B. mancano ExpiryDate, Constraint
