<h1>Edit del corso di Laurea</h1>

<% form_for(@graduate_course) do |f| %>
  <%= f.error_messages %>
   <p>
    <%= f.label 'Nome del Corso di Laurea' %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label 'Durata in anni' %><br />
    <%= f.text_field :duration %>
  </p>
  <p>
    <%= f.label 'Periodi' %><br />
    <%= f.text_field :academic_organization_id %>
  </p>
    Esempio: inserire 3 se il corso di laurea è diviso in trimestri, 2 se in semestri, ecc...
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @graduate_course %> |
<%= link_to 'Back', :action => 'administration' %>
