<h1>Modifica del corso di Laurea</h1>
<fieldset>
  <legend>Corso di laurea:</legend>
<% remote_form_for(@graduate_course) do |f| %>
  <p>
    <%= f.label 'Nome: *' %><br />
    <%= f.text_field :name %>
    <span id="errors_name" class="warning"><%=  @graduate_course.errors.on(:name) %></span>
  </p>
  <p>* campi obbligatori</p>
  </fieldset>
   <p>
    <%= f.submit "Salva modifiche" %>
  </p>
  <% end %>
<p><%= link_to "Indietro", :back %></p>