<h1>Inserimento nuovo corso di laurea</h1>

<% form_for(@graduate_course) do |f| %>
  <%= f.error_messages %>
   <p>
    <%= f.label 'Nome del Corso di Laurea' %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label 'Durata in anni' %><br />
    <%= f.text_field :duration %>
  </p>
  <p>
     <%= f.label "Organizzazione Accademica" %><br />
     <%= select_tag "graduate_course[academic_organization_id]" , options_from_collection_for_select(@academic_organization, "id", "name") %>
  </p>
  <p>
    Curriculum unico?
    <%= check_box_tag 'unico' %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', :action => 'administration' %>
